<% content_for :page_title do %><%= @feed.name %><% end %>

<p class="page-details">
  [
  <%= link_to 'Edit', edit_feed_path(@feed), class: 'page-btn', method: :get %>
  |
  <%= link_to 'Delete', feed_path(@feed), class: 'page-btn', method: :delete, data: { confirm: 'Are you sure?' } %>
  ]
</p>

<%= render 'shared/pagination' %>

<%= render 'shared/articles' %>

<%= render 'shared/pagination' %>