<nav class='pagination'>
</nav>

<%= link_to image_tag('refresh.png', class: 'refresh-img') + ' refresh', url_for(params), class: 'refresh-link' %>

<table class="articles">

  <tr>
    <th></th>
    <th>Title</th>
    <th>Published</th>
  </tr>

  <% @articles.each do |article| %>

  <tr class="article" data-hide-url="<%= user_path + "/hide/#{article.id}" %>" data-url="<%= article.url %>">
    <td><div class="hide-article-btn"></div></td>
    <td class="title"><%= article.title[0...80] %><%= article.title.length > 80 ? '...' : '' %></td>
    <td><%= article.published.to_formatted_s(:long) %></td>
  </tr>

  <% end %>
</table>

<nav class='pagination'>
</nav>