<!DOCTYPE html>
<html>
<head>
  <title>Feeder</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav>
  <% if logged_in? %>
    <%= link_to 'My Feed', current_user %>
    |
    <%= link_to 'Feed List', user_feeds_path(current_user) %>
    |
    <%= link_to 'Add Feed', new_user_feed_path(current_user) %>
    |
    <%= link_to 'Logout', logout_path %>
  <% else %>
  	<%= link_to 'Signup', new_user_path %>
  	|
  	<%= link_to 'Login', login_path %>
  <% end %>
</nav>

<% if flash[:notice] %>
	<div class="notice"><%= flash[:notice] %></div>
<% end %>

<% if flash[:warning] %>
	<div class="notice"><%= flash[:warning] %></div>
<% end %>

<main>
	<%= yield %>
</main>

</body>
</html>
