<h1><%= @user.username %></h1>

<% @articles.each do |article| %>

  <article>
    <h2><%= link_to article.title, article.link %></h2>
    <p class="details">Written by <%= article.author %> on <%= article.posted %></p>
    <p><%= raw article.snippet %></p>
  </article>

<% end %>