<!DOCTYPE html>
<html>
<head>
  <title>Feeder</title>
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
  <% logo_link = current_user ? user_path : root_path %>
  <%=  link_to raw('<div id="logo"></div>'), logo_link %>
  <nav>
    <% if logged_in? %>
      <%= link_to 'My Feed', user_path(username: current_user.username) %>
      <%= link_to 'Feed List', feeds_path(username: current_user.username) %>
      <%= link_to 'Add Feed', new_feed_path(username: current_user.username) %>
      <%= link_to 'Change Password', edit_user_path(username: current_user.username) %>
      <%= link_to 'Logout', logout_path %>
    <% else %>
    	<%= link_to 'Signup', signup_path %>
    	<%= link_to 'Login', login_path %>
    <% end %>
  </nav>
</header>

<h1><%= yield :page_title %></h1>

<main>

  <% if flash[:notice] %>
    <div class="flash notice"><%= raw flash[:notice] %></div>
  <% end %>

  <% if flash[:warning] %>
    <div class="flash warning"><%= raw flash[:warning] %></div>
  <% end %>
  
	<%= yield %>
</main>

<nav class="mobile-nav">
  <% if logged_in? %>
    <%= link_to 'My Feed', user_path(username: current_user.username) %>
    <%= link_to 'Feed List', feeds_path(username: current_user.username) %>
    <%= link_to 'Add Feed', new_feed_path(username: current_user.username) %>
    <%= link_to 'Change Password', edit_user_path(username: current_user.username) %>
    <%= link_to 'Logout', logout_path %>
  <% else %>
    <%= link_to 'Signup', signup_path %>
    <%= link_to 'Login', login_path %>
  <% end %>
</nav>

<footer>
  Help make this site better at <%= link_to 'GitHub', 'https://github.com/kinnaburst/Feeder' %>.
</footer>

</body>
</html>
